/* --- RESETS --- */


@mixin reset-input {
    width: 100%;
    background: transparent;
    border: none;
    border-bottom: $line-weight $black solid;
    padding-top: 16px;
    padding-bottom: 8px;
    -webkit-font-smoothing: inherit;
      -moz-osx-font-smoothing: inherit;
      -webkit-appearance: none;
}


@mixin reset-button {
    border: none; 
    padding:0; 
    width: auto; 
    overflow: visible; 
    background: transparent; 
    color: inherit; 
    font: inherit; 
    text-align: inherit; 
    line-height: normal; 
  }



  